@import './mixin.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

body {
  line-height: 1.42;
  height: 100vh;
  width: 100vw;
}

a {
  transition: 300ms;
	text-decoration: none;
  color: #419df4;
  &:hover, &:focus {
    color: #000;
  }
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
  margin: 0;
  padding: 0;
}

.calc {
	background: #419df4;
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;

	&__block {
		background-color: #171D1E;
		border-radius: 5px;
	}

	&__output {
		min-height: 120px;
		max-width: 340px;
		background: #000;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-direction: column;
		padding: 10px;
		word-wrap: break-word;
		word-break: break-all;
		border-radius: 5px;
		margin-bottom: 20px;
		border: #BDB7AB;;
	}

	&__previous {
		color: #BDB7AB;
		font-size: 20px;
	}

	&__current {
		color: #fff;
		font-size: 40px;
	}

	&__btn {
		width: 70px;
		max-width: 100%;
		height: 70px;
		border-radius: 100%;
		font-size: 20px;
		cursor: pointer;
		border-width: 0;
		margin: 5px;
		outline: 0;

		&_orange {
			background-color: #ED820E;
			border-color: #ED820E;
		}
	}

	&__row {
		margin: 5px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 1 25%;
		&_btm {
			padding-bottom: 20px;
		}
	}
}